<%= simple_form_for [:admin, league] do |f| %>
  <% if league.errors.any? %>
    <div class="alert alert-danger"><ul class="mb-0"><% league.errors.full_messages.each do |m| %><li><%= m %></li><% end %></ul></div>
  <% end %>
  <div class="row g-3">
    <div class="col-12"><%= f.input :name, label: "Nombre" %></div>
    <div class="col-md-4">
      <%= f.input :status, label: "Estado",
            collection: League.statuses.keys.map { |k| [I18n.t("league.statuses.#{k}"), k] },
            include_blank: false %>
    </div>
    <div class="col-md-4">
      <%= f.input :start_date, label: "Fecha inicio", as: :string,
            input_html: { type: "date", value: league.start_date&.strftime("%Y-%m-%d") } %>
    </div>
    <div class="col-md-4">
      <%= f.input :end_date, label: "Fecha fin", as: :string,
            input_html: { type: "date", value: league.end_date&.strftime("%Y-%m-%d") } %>
    </div>
    <div class="col-12"><%= f.input :description, label: "Descripción", as: :text, input_html: { rows: 3 } %></div>
    <div class="col-12"><%= f.input :rules, label: "Reglamento", as: :text, input_html: { rows: 4 } %></div>
  </div>
  <div class="d-flex gap-2 mt-3">
    <%= f.button :submit, league.persisted? ? "Guardar cambios" : "Crear liga", class: "btn btn-primary" %>
    <%= link_to "Cancelar", league.persisted? ? admin_league_path(league) : admin_leagues_path, class: "btn btn-ghost-secondary" %>
  </div>
<% end %>
